<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>First name: <input formControlName="firstName" /></label><br />
    <label>Last name: <input formControlName="lastName" /></label><br />
    <label>Email: <input formControlName="email" /></label><br />
    <label>Password: <input formControlName="password" /></label><br />
    <label>Category:
        <select formControlName="category">
        <option value="private">Private</option>
        <option value="business">Business</option>
        <option value="other">Other</option>
        </select>
    </label><br />
    <label>Subcategory: <input formControlName="subcategory" /></label><br />
    <label>Phone number: <input formControlName="phone" /></label><br />
    <label>Birth date: <input formControlName="birthDate" type="date" /></label><br />
    <button type="submit">Save changes</button>
    <button (click)="deleteContact()">Delete Contact</button>
</form>
  