<form *ngIf="form && isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>First name: <input formControlName="firstName" /></label><br />
    <label>Last name: <input formControlName="lastName" /></label><br />
    <label>Email: <input formControlName="email" /></label><br />
    <label>Password: <input formControlName="password" /></label><br />
    <label>Category:
        <select formControlName="category">
        <option value="private">Private</option>
        <option value="business">Business</option>
        <option value="other">Other</option>
        </select>
    </label><br />
    <label>Subcategory: <input formControlName="subcategory" /></label><br />
    <label>Phone number: <input formControlName="phone" /></label><br />
    <label>Birth date: <input formControlName="birthDate" type="date" /></label><br />
    <button type="submit">Save changes</button>
    <button (click)="deleteContact()">Delete Contact</button>
</form>

<div *ngIf="!isLoggedIn">
    <p>You must be logged in to edit data.<br />
    <button routerLink="/login">Login</button><br /></p>
    First name: {{ contact?.firstName }}<br />
    Last name: {{ contact?.lastName }}<br />
    Email: {{ contact?.email }}<br />
    Category: {{ contact?.category }}<br />
    Subcategory: {{ contact?.subcategory }}<br />
    Phone number: {{ contact?.phone }}<br />
    Birth date: {{ contact?.birthDate | date:'yyyy-MM-dd' }}<br />
</div>
  