<form *ngIf="form && isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>First name: <input formControlName="firstName" /></label><br />
    <label>Last name: <input formControlName="lastName" /></label><br />
    <label>Email: <input formControlName="email" /></label><br />
    <label>Password: <input formControlName="password" /></label><br />
    <label>Category:
        <select formControlName="categoryId" (change)="onCategoryChange()">
            <option *ngFor="let cat of categories" [ngValue]="cat.id">{{ cat.name }}</option>
        </select>
    </label><br />
      
    <label>Subcategory:</label>
    <div *ngIf="!customSubcategoryMode">
        <select formControlName="subcategory">
            <option *ngFor="let sub of subcategories" [ngValue]="sub.id">{{ sub.name }}</option>
        </select>
    </div>
    <div *ngIf="customSubcategoryMode">
        <input type="text" formControlName="otherSubcategory" />
    </div>
      
    <label>Phone number: <input formControlName="phone" /></label><br />
    <label>Birth date: <input formControlName="birthDate" type="date" />{{ contact?.birthDate | date:'yyyy-MM-dd' }}</label><br />
    <button type="submit">Save changes</button>
    <button (click)="deleteContact()">Delete Contact</button>
</form>

<div *ngIf="!isLoggedIn">
    <p>You must be logged in to edit data.<br />
    <button routerLink="/login">Login</button><br /></p>
    First name: {{ contact?.firstName }}<br />
    Last name: {{ contact?.lastName }}<br />
    Email: {{ contact?.email }}<br />
    Category: {{ getCategoryName() }}<br />
    Subcategory: {{ customSubcategoryMode ? contact?.otherSubcategory : getSubcategoryName() }}<br />
    Phone number: {{ contact?.phone }}<br />
    Birth date: {{ contact?.birthDate | date:'yyyy-MM-dd' }}<br />
</div>
