<h2>Add new contact</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>First name:
    <input type="text" formControlName="firstName" />
  </label><br />

  <label>Last name:
    <input type="text" formControlName="lastName" />
  </label><br />

  <label>Email:
    <input type="email" formControlName="email" />
  </label><br />

  <label>Passowrd:
    <input type="text" formControlName="password" />
  </label><br />

  <label>Category:
    <select formControlName="category">
      <option value="private">Private</option>
      <option value="business">Business</option>
      <option value="other">Other</option>
    </select>
  </label><br />

  <ng-container *ngIf="isCategoryBusiness()">
    <label>Subcategory:
      <select formControlName="subcategory">
        <option value="boss">Boss</option>
        <option value="client">Client</option>
      </select>
    </label><br />
  </ng-container>

  <ng-container *ngIf="isCategoryOther()">
    <label>Subcategory (custom):
      <input type="text" formControlName="subcategory" />
    </label><br />
  </ng-container>

  <label>Phone number:
    <input type="text" formControlName="phone" />
  </label><br />

  <label>Birth date:
    <input type="date" formControlName="birthDate" />
  </label><br /><br />

  <button type="submit" [disabled]="form.invalid">Save contact</button>
</form>
