<h2>Add new contact</h2>

<form *ngIf="isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>First name:
    <input type="text" formControlName="firstName" />
  </label><br />

  <label>Last name:
    <input type="text" formControlName="lastName" />
  </label><br />

  <label>Email:
    <input type="email" formControlName="email" />
    <div *ngIf="form.get('email')?.errors?.['notUnique']" style="color: red;">
        Email already exists.
      </div>
  </label><br />

  <label>Password:
    <input type="password" formControlName="password" />
  </label><br />

  <label>Category:
    <select formControlName="categoryId" (change)="onCategoryChange()">
      <option [ngValue]="null">-- choose --</option>
      <option *ngFor="let cat of categories" [ngValue]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </label><br />
  
  <div *ngIf="subcategories.length && !customSubcategoryMode">
      <label>Subcategory:</label>
    <select formControlName="subcategoryId">
      <option [ngValue]="null">-- choose --</option>
      <option *ngFor="let sub of subcategories" [ngValue]="sub.id">
        {{ sub.name }}
      </option>
    </select>
  </div>


  <div *ngIf="customSubcategoryMode">
    <input type="text" formControlName="subcategoryName" />
  </div>
  <label>Phone number:
    <input type="text" formControlName="phone" />
  </label><br />

  <label>Birth date:
    <input type="date" formControlName="birthDate" />
  </label><br /><br />

  <button type="submit" [disabled]="form.invalid || isSubmitting">Save contact</button>
</form>
